.App__calendar {
  margin: $bpk-spacing-lg auto;
  padding: $bpk-spacing-md;
  background-color: $bpk-color-white;
  border-radius: $bpk-border-radius-sm;
  box-shadow: $bpk-box-shadow-sm;
  max-width: 350px;

  .react-calendar {
    width: 100%;
    border: none;
  }

  .react-calendar__tile {
    border-radius: $bpk-border-radius-xs;
    padding: $bpk-spacing-sm;
  }

  .react-calendar__tile--active {
    background-color: $bpk-color-sky-blue;
    color: $bpk-color-white;
  }

  .react-calendar__tile--now {
    background-color: $bpk-color-monteverde;
    color: $bpk-color-white;
  }
}
